[Unit]
Description=Node Exporter
After=network-online.target
[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/etc/node/init.sh

[Install]
WantedBy=multi-user.target